<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site com Menu</title>
    <link rel="stylesheet" href="StyleControleEstoque.css">
    <script type="text/javascript" src="JsControleEstoque.js"></script>
    <img src="pesquisa.jpeg" alt="some text" width=60 height=40>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="dropdown">
              <button class="mainmenubtn"> Controle de Estoque </button>
              <div class="dropdown-child">
                <a href="http://wwww.seudominio.com/pagina1.html"> Produtos</a>
                <a href="http://wwww.seudominio.com/pagina2.html"> Categorias</a>
                <a href="http://wwww.seudominio.com/pagina3.html"> Fornecedores</a>
                <a href="http://wwww.seudominio.com/pagina4.html"> Entradas</a>
                <a href="http://wwww.seudominio.com/pagina5.html"> Saídas</a>
                <a href="http://wwww.seudominio.com/pagina5.html"> Usuários</a>
              </div>
            </div>
        </div>
    </header>
    <div class="content">
      <div class="retangulo"></div>
      <div class="icone"></div>
      <div class="quadrado1"></div>
      <div class="quadrado2"></div>
      <div class="quadrado3"></div>
      <div class="quadrado4"></div>
      <div class="lancamento"></div>
      <div></div>
        <h1>Visão geral</h1>
        <p>Relatório geral do projeto</p>
    </div>
 <div class="texto">
<h1>Produtos com estoque zerado</h1>
<div class="texto2">
<h1>Entradas</h1>
</div>
<div class="texto3">
  <h1>Saídas</h1>
</div>
<div class="texto4">
<h1>Estoque Atual</h1>
</div>
<div class="texto5">
  <h1>5</h1>
  </div>
  <div class="texto6">
    <h1>4</h1>
    </div>
    <div class="texto7">
      <h1>6</h1>
      </div>
      <div class="texto8">
        <h1>35</h1>
        </div>
        <div class="texto9">
          <h1>Descrições</h1>
          </div>
          <div class="texto10">
            <h1>Usuário</h1>
            </div>
            <div class="texto11">
              <h1>Quantidade</h1>
              </div>
                <div class="texto13">
                  <h1>Categoria/produto</h1>
                  </div>
                  <div class="texto14">
                    <h1>+Lançamentos</h1>
                    </div>
 </div>

</body>
</html>
