body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #012250;
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #012250;
    list-style-type: none;
    padding: 0;
}

.submenu li {
    padding: 10px 20px;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-top: 110px;
    padding: 60px;
    margin-left: 300px;
}

.mainmenubtn {
    background-color: #012250;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.mainmenubtn:hover {
    background-color: rgb(13, 13, 61);
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: #012250;
    min-width: 200px;
    position: absolute;
    top: 100%; 
    left: 0;
}

.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.retangulo{
position: absolute;
width: 303px;
height: 878px;
left: 0px;
top: 90px;
background: #012250;
}

.quadrado1{
/* Rectangle 9 */

position: absolute;
width: 241px;
height: 268px;
left: 344px;
top: 344px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.quadrado2{
/* Rectangle 11 */

position: absolute;
width: 241px;
height: 268px;
left: 626px;
top: 344px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.quadrado3{
/* Rectangle 10 */

position: absolute;
width: 241px;
height: 268px;
left: 905px;
top: 344px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.quadrado4{
/* Rectangle 7 */

position: absolute;
width: 241px;
height: 268px;
left: 1192px;
top: 344px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lancamento{
position: absolute;
width: 210px;
height: 33px;
left: 1225px;
top: 297px;
background: #08A904;

}
.texto{
/* Produtos com estoque zerado */
position: absolute;
width: 226px;
height: 29px;
left: 358px;
top: 350px;
font-family: Khula;
font-style: normal;
font-weight: 400;
font-size: 8px;
color: #000000;

}
.texto2{
position: absolute;
width: 226px;
height: 29px;
left: 360px;
top: 2px;
font-family: Khula;
font-style: normal;
font-weight: 400;
font-size: 8px;
color: #000000;
}
.texto3{
position: absolute;
width: 226px;
height: 29px;
left: 650px;
top: 2px;
font-family: Khula;
font-style: normal;
font-weight: 400;
font-size: 8px;
color: #000000;
}
.texto4{
position: absolute;
width: 226px;
height: 29px;
left: 910px;
top: 2px;
font-family: 'Khula';
font-style: normal;
font-weight: 400;
font-size: 8px;
color: #000000;
}
.texto5{
position: absolute;
width: 57px;
height: 116px;
left: 370px;
top: 10px;
font-family: Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 154px;
color: #078A14;
    }
.texto6{
position: absolute;
 width: 57px;
     height: 116px;
        left: 80px;
        top: 10px;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 154px;
        color: #C41010;
            }
.textolancamento{
    position: absolute;
    width: 226px;
    height: 29px;
    left: 910px;
    top: 2px;
    font-family: Khula;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #000000;
}
.texto7{
    position: absolute;
    width: 57px;
        height: 116px;
           left: 650px;
           top: 10px;
           font-family: Arial, sans-serif;
           font-style: normal;
           font-weight: 400;
           font-size: 40px;
           line-height: 154px;
           color: #C41010; 
}
.texto8{
    position: absolute;
    width: 57px;
        height: 116px;
           left: 910px;
           top: 10px;
           font-family: Arial, sans-serif;
           font-style: normal;
           font-weight: 400;
           font-size: 40px;
           line-height: 154px;
           color: #C41010; 
}
.texto9{
    position: absolute;
    width: 226px;
    height: 29px;
    left: 930px;
    top: 350px;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #000000;
}
.texto10{
    position: absolute;
    width: 226px;
    height: 29px;
    left: 640px;
    top: 350px;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #000000;
}
.texto11{
    position: absolute;
    width: 226px;
    height: 29px;
    left: 350px;
    top: 350px;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #000000;
}

.texto13{
    position: absolute;
    width: 226px;
    height: 29px;
    left: 40px;
    top: 350px;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #000000; 
}

.texto14{
    position: absolute;
    width: 226px;
    height: 29px;
    left: 920px;
    top: -55px;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: white; 
}
.barra{
    position: absolute;
    width: 226px;
    height: 29px;
    left: 40px;
    top: 300px;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #242323; 
}

